header{
    width:100%;
    height: 5.71rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header .pic{
    width: 2.46rem;
    height: 2.46rem;
    background-image: url("../img/denglu.png");
    background-size: cover;
}
header .eng{
    width:100% ;
    height:0.48rem ;
    color: #d1cccc;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.48rem;
    margin-top: 0.6rem;
}
header .name{
    width: 3.08rem;
    height: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
header .name .dot {
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background-color: #e28185;
}
header .name .dot:nth-child(2),.dot:nth-child(5) {
    background-color: #d64c52;
}
header .name .dot:nth-child(3),.dot:nth-child(4) {
    background-color: #d23a41;
}
header .name .word{
    width: 1.5rem;
    height: 0.3rem;
    color: #de7d81;
    font-size: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
}
section{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section .smlBox{
    width: 4.4rem;
    height: 3rem;
    background-color:#f86161;
    border-radius: 0.3rem;
    margin-top: 0.3rem;
}
section .bigBox{
    width: 6rem;
    height: 5rem;
    background-color:#f3f3f3;
    margin-top: -2.5rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section .bigBox .dots{
    width: 0.65rem;
    height: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
}
section .bigBox .dots a{
    width:0.14rem;
    height: 0.14rem;
}
section .bigBox .dots .dot{
    width:0.14rem;
    height: 0.14rem;
    border-radius: 50%;
    text-align: center;
    background-color: #f57b81;
}
section .bigBox .dots  a:nth-child(2) .dot{
    background-color: #c2bcbc;
}
section .bigBox .phone{
    width: 4.7rem;
    height: 0.93rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
}
section .bigBox .phone .left{
    width: 0.27rem;
    height: 0.08rem;
    background-color: #84ccc9;
    border-radius: 0.04rem;
}
section .bigBox .phone .right{
    height: 0.93rem;
    flex-grow: 1;
    border-bottom: 0.01rem solid #c2bcbc;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .bigBox .phone .right .wenZi{
    width: 1.5rem;
    height: 0.32rem;
    /*color: #cfcbcb;*/
    font-size: 0.24rem;
    margin-left: 0.2rem;
    text-align: left;
    line-height: 0.32rem;
    border-style: none;
    background-color: #f3f3f3;
}
section .bigBox .phone .right .fuhao{
    width: 0.40rem;
    height: 0.42rem;
    line-height: 0.42rem;
    text-align: center;
    margin-top: -0.45rem;
}
section .bigBox .phone .right .fuhao i{
    width: 0.22rem;
    height: 0.32rem;
    color: #84ccc9;
    font-size: 0.4rem;
    line-height: 0.32rem;
    text-align: center;
}
section .bigBox .yanZheng{
    width: 4.7rem;
    height: 0.93rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;

}
section .bigBox .yanZheng .hot{
    width: 0.27rem;
    height: 0.27rem;
    color: #f86a6a;
    text-align: center;
    line-height:0.27rem ;
}
/*section .bigBox .yanZheng .left{*/
    /*width: 0.27rem;*/
    /*height: 0.08rem;*/
    /*background-color: #84ccc9;*/
    /*border-radius: 0.04rem;*/
/*}*/
section .bigBox .yanZheng .right{
    height: 0.93rem;
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .bigBox .yanZheng .right a{
    width: 1.5rem;
    height: 0.32rem;
}
section .bigBox .yanZheng .right .wenZi{
    width: 1.5rem;
    height: 0.32rem;
    font-size: 0.24rem;
    margin-left: 0.2rem;
    text-align: left;
    border-style: none;
    background-color: #f3f3f3;
    color: #c2bcbc;
}
section .bigBox .yanZheng .right .placeholder{
    color: #c5c0c0;
}

section .bigBox .password{
    width: 4.7rem;
    height: 0.93rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
}
section .bigBox .password .left{
    width: 0.27rem;
    height: 0.08rem;
    background-color: #84ccc9;
    border-radius: 0.04rem;
}
section .bigBox .password .right{
    height: 0.93rem;
    flex-grow: 1;
    border-bottom: 0.01rem solid #c2bcbc;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .bigBox .password .right .wenZi{
    width: 1.5rem;
    height: 0.32rem;
    background-color: #f3f3f3;
    color: #cfcbcb;
    font-size: 0.24rem;
    margin-left: 0.2rem;
    text-align: left;
    line-height: 0.32rem;
    border-style: none;

}
section .bigBox .password .right .fuhao{
    width: 0.40rem;
    height: 0.42rem;
    line-height: 0.42rem;
    text-align: center;
    margin-top: -0.45rem;
}
section .bigBox .password .right .fuhao i{
    width: 0.22rem;
    height: 0.32rem;
    color: #d34047;
    font-size: 0.4rem;
    line-height: 0.32rem;
    text-align: center;
}
section .bigBox a {
    width: 1.86rem;
    height: 0.5rem;
}
section .bigBox .btn{
    width:1.86rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: #e6e6e7;
    margin-bottom: -0.5rem;
    margin-top: 0.6rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
section .bigBox .btn i{
    width:100%;
    height:100%;
    border-radius: 0.5rem;
    color: #ffffff;
    text-align: center;
    line-height: 100%;
    font-size: 0.5rem;
}
footer{
    width: 100%;
    height: auto;
}
footer .bigBox{
    width: 3.87rem;
    height: 0.6rem;
    margin: 1.3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .bigBox a {
    width: 0.65rem;
    height: 100%;
}
footer .bigBox .pic{
    width:0.65rem;
    height: 100%;
    background-image: url("../img/qqqq.png");
    background-size: cover;
    text-align: center;
    line-height: 100%;
}

footer .bigBox .pic1{
    width:0.65rem;
    height: 100%;
    background-image: url("../img/wechat.png");
    background-size: cover;
    text-align: center;
    line-height: 100%;
}
footer .bigBox .pic2{
    width:0.65rem;
    height: 100%;
    background-image: url("../img/weibo1.png");
    background-size: cover;
    text-align: center;
    line-height: 100%;
}

